<plugin name='facebook-sdk' version='0.1.2' grailsVersion='2.0 &gt; *'>
  <author>Benoit Hediard</author>
  <authorEmail>ben@benorama.com</authorEmail>
  <title>Facebook SDK Grails Plugin</title>
  <description>The Facebook SDK Plugin allows your Grails application to use the Facebook Platform and develop Facebook apps on Facebook.com or on web sites (with Facebook Connect).
It is a port of the official Facebook PHP SDK V3.1.1 to Grails 2.0.
</description>
  <documentation>http://grails.org/plugin/facebook-sdk-grails-plugin/blob/master/README.md</documentation>
  <type>FacebookSdkGrailsPlugin</type>
  <resources>
    <resource>grails.plugins.facebooksdk.AppController</resource>
    <resource>grails.plugins.facebooksdk.WebsiteController</resource>
    <resource>grails.plugins.facebooksdk.FacebookAppService</resource>
    <resource>grails.plugins.facebooksdk.FacebookJSTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='com.restfb' name='restfb' version='1.6.9' />
    </compile>
  </dependencies>
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='resources' version='latest.integration' />
    </compile>
    <runtime>
      <plugin group='org.grails.plugins' name='fbootstrapp' version='0.1.1' />
    </runtime>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>