<plugin name='facebook-sdk' version='0.1' grailsVersion='2.0 &gt; *'>
  <author>Benoit Hediard</author>
  <authorEmail>hediard@affinitiz.com</authorEmail>
  <title>Facebook SDK Plugin</title>
  <description>The Facebook SDK plugin allows your Grails application to use the Facebook Platform and develop Facebook apps on Facebook.com or on web sites (with Facebook Connect).
It uses RestFB java library under the cover : http://restfb.com/.
</description>
  <documentation>http://grails.org/plugin/facebook-sdk</documentation>
  <type>FacebookSdkGrailsPlugin</type>
  <resources>
    <resource>spring.resources</resource>
    <resource>grails.plugins.facebooksdk.AppController</resource>
    <resource>grails.plugins.facebooksdk.WebsiteController</resource>
    <resource>grails.plugins.facebooksdk.FacebookAppService</resource>
    <resource>grails.plugins.facebooksdk.FacebookJSTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='com.restfb' name='restfb' version='1.6.9' />
    </compile>
  </dependencies>
  <plugins>
    <provided>
      <plugin group='org.grails.plugins' name='codenarc' version='0.16.1' />
      <plugin group='org.grails.plugins' name='twitter-bootstrap' version='1.4.0.14' />
    </provided>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>